<div class="container mx-auto p-4">
   
    <div class="mx-4 lg:mx-32 my-4 lg:my-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-20">
        @for (movie of favData; track movie.id; let index = $index) {
            <app-card 
                [id]="movie.id"
                [title]="movie.title" 
                [imagePath]="movie.imagePath"
                [rating]="movie.rating"
                [cardIndex]="index"
                [releaseYear]="movie.releaseYear">
            </app-card>
        } @empty {
            <div class="w-full text-2xl flex justify-center my-8 font-semibold text-gray-700 dark:text-gray-200">
                No favorites added yet
            </div>
        }
    </div>
</div>