<div  #scrollContainer (scroll)="onScroll($event)"  class="w-full h-screen overflow-auto">
  <app-header></app-header> 
  <router-outlet></router-outlet>
  <button 
  matTooltip="Up, Up & Beyond"
  class="scroll-top-button fixed bottom-12 right-12 text-3xl bg-yellow-400 p-2 ml-1 rounded-md text-black font-extrabold focus:outline-nonerounded-full transition-opacity duration-300"
  [ngClass]="{ 'opacity-100': showScrollButton, 'opacity-0': !showScrollButton }"
  (click)="scrollToTop()"
  aria-label="Scroll to top"
>
<mat-icon>rocket_launch</mat-icon>
</button>
</div>


<!-- <div>
    [title]="movie.title"
      [rating]="movie.rating"
      [releaseYear]="movie.releaseYear"
  do it in end a banner like imdb now implementing card
  <img src="./assets/hero-dynamic.jpg" alt="">
</div> -->
